Zips for Sending/
/Methods/nbproject/private/
/Methods/build/
/TextFileAssignments/nbproject/private/
/TextFileAssignments/build/
/BankAccounts/nbproject/private/
/BankAccounts/build/
/RunCounter/nbproject/private/
/RunCounter/build/
/CounterAssign/nbproject/private/
/CounterAssign/build/
/DiceAssign/nbproject/private/
/DiceAssign/build/
/RectangleAssign/nbproject/private/
/RectangleAssign/build/
/PaintBugAssign/nbproject/private/
/PaintBugAssign/build/
/CarAssign/nbproject/private/
/CarAssign/build/
/PersonAssign/nbproject/private/
/PersonAssign/build/
/AirportAssign/nbproject/private/
/AirportAssign/build/
/TurtleAssignments/nbproject/private/
/TurtleAssignments/build/
/PetsAssignment/nbproject/private/
/ShapesAssignment/nbproject/private/
/ShapesAssignment/build/
/PetsAssignment/build/
/PaintBugInheritanceAssignment/nbproject/private/
/PaintBugInheritanceAssignment/build/
/SongDatabase/nbproject/private/
/SongDatabase/build/
/RecursiveProblemset/nbproject/private/
/RecursiveProblemset/build/